<a href="https://colab.research.google.com/github/beto211297/Python-Curso_Online/blob/main/Codigo_tema_3_y_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#VARIABLES

numero = 17 
decimal = 0.7
texto = "Texto"
booleanos = True

print(booleanos)
print(type(booleanos))

True
<class 'bool'>

In [6]:
tupla = ()
lista = []
set_ = {2:2, 1:5}

print()

In [11]:
a = 3
b = "12"
c = a * b
print(c)

121212

In [20]:
r = "12.7"
print(type(r))
r = str(r)
#r= float(r)
print(type(r))
#s = r + 2
s = "numero: " + r
#s = r + 2
print(s)

<class 'str'>
<class 'float'>
14.7

In [28]:
Edad = input("Introduce tu edad: ")
print(type(Edad))
Edad_num = float(Edad)
print(type(Edad_num))

Introduce tu edad: 23
<class 'str'>
<class 'float'>

In [31]:
Edad = float(input("Introduce tu edad: "))
print(type(Edad))
Edad_nueva = Edad * 2 -2
print(Edad_nueva)

Introduce tu edad: 23
<class 'float'>
44.0